// ======================================
//  Base Styles
// ======================================

* {
    box-sizing: border-box;
  }
  
  body {
    color: $color-text;
    font-size: 1rem;
    font-weight: $light-weight;
    line-height: 1.5;
    font-family: $font-stack-primary;
    // text-align: center;
    margin: 0;
    background-color: lighten($black, 97%);
  }
  
  h1,
  h2 {
    font-family: $font-stack-primary;
  }

  h2 {
    font-size: 1rem;
    font-weight: $medium-weight;
    text-transform: uppercase;
  }
  
  p {
    margin-bottom: 1.25em;
  }
  
  a {
    color: $color-primary;
    text-decoration: none;
    &:hover {
      color: $color-secondary;  
    }
  }
  