// ======================================
//  Contact Component Styles
// ======================================

.contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 20px;
    padding: 20px;

    &-align--center {
        text-align: center;
    }

    &-widget {
        margin-bottom: 40px;
    }
}