// ======================================
//  Contact Component Styles
// ======================================

.contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 20px;
    padding: 20px;

    & h3 {
        padding-top: 20px;
    }

    & .card {
        text-align: center;
    }

    &-details {
        padding-top: 30px;
    }

    &-widget {
        margin-bottom: 40px;
    }
}