// ======================================
//  Intro Styles
// ======================================

.intro {
    background: url("/src/assets/img/8321.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;

}